.zcompdump*
.zsh_history
.bash_history
*.swp
*.swo
*~
.cache/
.local/share/Trash/
.local/share/recently-used.xbel
.local/state/
.pki/
.mozilla/
.chromium/
.thunderbird/
.DS_Store
Thumbs.db
.vscode/
.idea/
*.code-workspace
*.log
*.bak
*.tmp
*.old
fonts/**/*.ttf
fonts/**/*.otf
fonts/**/*.woff*
/packages/*.rpm
/build/
